########################################################################################################################
### External Library Support
########################################################################################################################
--enable-appkit
--enable-audiotoolbox
--enable-avfoundation
--enable-coreimage
--enable-videotoolbox

########################################################################################################################
### Toolchain Options
########################################################################################################################  
--arch=x86_64      
--target-os=darwin
--cc='clang -arch x84_64'
--cxx=c++
--nm=nm
--ar='ar'
--progs-suffix='x86_64' 