########################################################################################################################
### External Library Support
########################################################################################################################
--enable-appkit
--enable-audiotoolbox
--enable-avfoundation
--enable-coreimage
--enable-videotoolbox

########################################################################################################################
### Toolchain Options
########################################################################################################################  
--arch=arm64      
--target-os=darwin
--cc='clang -arch aarch64'
--cxx=c++
--nm=nm
--ar='ar'
--progs-suffix='aarch64' 

########################################################################################################################
### Optimization Options
########################################################################################################################
--disable-asm 