########################################################################################################################
### External Library Support
########################################################################################################################
--enable-appkit
--enable-audiotoolbox
--enable-avfoundation
--enable-coreimage
--enable-videotoolbox

########################################################################################################################
### Toolchain Options
########################################################################################################################  
--arch=arm64      
--target-os=darwin
--cc=cc
--cxx=c++
--nm=nm
--ar='ar'

########################################################################################################################
### Optimization Options
########################################################################################################################
--disable-asm 